doctype
html
  head
    title CoreSpring Math Input

    script(src="/math-input/bower_components/jquery/dist/jquery.min.js")
    script(src="/math-input/bower_components/angular/angular.js")
    script(src="/math-input/bower_components/lodash/dist/lodash.js")
    script(src="/math-input/bower_components/mathquill-build/build/mathquill.min.js")
    script(src="/math-input/dist/corespring-math-input.js")
    script(src="index.js")

    link(rel="stylesheet", href="index.css")
    link(rel="stylesheet", href="/math-input/dist/corespring-math-input.css")
    link(rel="stylesheet", href="/math-input/bower_components/mathquill-build/build/mathquill.css")

    block head

  body(ng-app="app", ng-controller="Main")
    != yield
