.header CoreSpring math enabled input
  br
  div The answer is A:
    math-input(style="min-width: 50px;", editable='true', keypad-type='"basic"', dotted='true', expression='\'3x+4\'', ng-model='latex')
  div {{latex}}
           