@import url(http://fonts.googleapis.com/css?family=Montserrat);

.math-input {

  margin: 0px 5px;
  display: inline-block;
  vertical-align: middle;

  .input {
    display: inline-block;
    &.dotted > span {
      border-style: dotted;
    }
  }

  .basic {

    &.keypad {
      padding: 2px 2px 0px 2px;
      margin: 0;
      border: 2px solid #666666;
      border-radius: 5px;
      background-color: #F8F6F6;
      //background-color: white;
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      z-index: 100;
      position: absolute;
    }

    .button {
      display: inline-block;
      border: none;
      height: 30px;
      width: 30px;
      padding: 0;
      color: white;
      outline:none;
      margin-right: 5px;

      &:hover {
      }

      &:active {
      }
    }

    .numeric-section, .basic-section, .advanced-section, .clear-section {
      display: inline-block;
    }

    .clear-section {
      width: 140px;
      text-align: right;
    }

    .cursor-section {
      width: 290px;
      margin-bottom: 7px;
      border-bottom: 1px solid #999;

      .button {
        font-size: 14px;
      }
      .backspace {
        margin-left: 72px;
      }
    }

    .numeric-section {
      width: 140px;
      margin-right: 2px;
      margin-bottom: 2px;
      .number {
        &:hover {
        }

        &:active {
        }
      }
    }

    .basic-section {
      width: 80px;
      margin-right: 2px;
      margin-bottom: 2px;
    }

    .advanced-section {
      width: 140px;
    }
  }
}