@import url(http://fonts.googleapis.com/css?family=Montserrat);

// Fix mathquill bootstrap conflict
.mathquill-rendered-math * {
  box-sizing: content-box;
  top: auto;
}

.math-input {

  margin: 0px 5px;
  display: inline-block;

  .renderFromCode {
    border: 1px solid #D4D4D4;
  }

  .input {
    &.dotted > span {
      border-style: dotted;
    }
    .mq {
      border: 1px solid #D4D4D4;
      sup {
        top: 0px;
      }
    }
  }

  .code-button {
    padding: 2px;
    border: 1px solid #bebebe;
    border-radius: 20px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-right: 5px;
    float: right;
    color: #1a9cff;
    width: 25px;
    text-align: center;
  }

  .codepad {
    background-color: #F8F6F6;
    position: absolute;
    padding: 5px;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    z-index: 10100;
    margin-top: 2px;
    .code-button {
      background-color: #5bc0de;
      color: #FFFFFF;
      &.disabled {
        color: lightgray;
        background-color: darkgray;
      }
    }
    .code-input {
      width: 290px;
      height: 185px;
    }
  }

  .basic {

    &.keypad {
      padding: 10px 0px 10px 10px;
      margin-top: 2px;
      border: 1px solid #BEBEBE;
      border-radius: 5px;
      background-color: #F8F6F6;
      color: #FFFFFF;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      z-index: 10100;
      position: absolute;
    }

    .button {
      display: inline-block;
      border: none;
      height: 30px;
      width: 30px;
      padding: 0;
      color: white;
      outline:none;
      margin-right: 3px;

      &:hover {
      }

      &:active {
      }
    }

    .numeric-section, .basic-section, .advanced-section, .clear-section {
      display: inline-block;
    }

    .clear-section {
      width: 140px;
      text-align: right;
    }

    .cursor-section {
      width: 285px;
      margin-bottom: 7px;
      border-bottom: 1px solid #BEBEBE;

      .button {
        font-size: 14px;
      }
      .backspace {
        margin-left: 76px;
      }
    }

    .numeric-section {
      width: 140px;
      margin-right: 2px;
      margin-bottom: 2px;
      .number {
        &:hover {
        }

        &:active {
        }
      }
    }

    .basic-section {
      width: 80px;
      margin-right: 2px;
      margin-bottom: 2px;
    }

    .advanced-section {
      width: 140px;
    }
  }
}